body{
    margin:0;
    font-family: sans-serif;
}

.cover{
    width:100vw;
    height:100vh;
    background-color: firebrick;
    overflow: hidden;

}

.about{
    margin: 0 auto;
    max-width: 960px;
    margin-top:5em;
    text-align: justify;
    color: white;
    padding: 1em;
}

.card{

    position: relative;
    
    margin: 0 auto;

    width: 33.3vmax;
    height: 33.3vmax;

    max-height: 95vmin;
}

.card > .flair {
    background-image: url(world.jpg);
    background-size: 50vmax 50vmax;
    background-position: 0vw -5vmax;
    width: 90vmax;
    height: 125vmax;
    border-radius: 100%;
    position: relative;
    display: block;

    max-height: 33.3vmax;
    max-width: 33.3vmax;

    min-height: auto;

    top: calc(50vh - 62.5%);


    margin: auto;

    animation-name: world-spin;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 30s;    
} 

@keyframes fade-in{
    from{
        margin-top:64px; 
        transform: translateY(64px); 
        -webkit-transform: translateY(64px); 
        filter:opacity(0);
    }
    to{
        margin-top:0px; 
        transform: translateY(0px); 
        -webkit-transform: translateY(0px); 
        filter:opacity(1);}
}

@keyframes world-spin{
    from{background-position: 0vmax -7vmax;}
    to{background-position: -50vmax -7vmax;}
}

.card > .foreground {
    position: absolute;
    z-index: 99;
    width: inherit;
    top:50vh;
}

.card > .foreground > .title {
    text-align: center;
    font-size: 4.75vmax;
    top: 50vh;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 1vmax;
    color:white;

    animation-name: fade-in;
    animation-duration: 3s;
    animation-delay: 0s;
}

.card > .foreground > .button{
    width: auto;
    height: auto;
    padding: 0.5em .75em;
    text-decoration: none;
    color: white;
    background-color: gold;
    width: 6vmax;
    font-size: 1vmax;
    text-align: center;
    position: absolute;
    left: calc(50% - 3vmax);

    filter: opacity(0);

    animation-name: fade-in;
    animation-duration: 6s;
    animation-delay: 3s;
    animation-fill-mode: forwards;

}

.card > .button:visited{
    color:white;
}

.stripes{
    position: absolute;
    width: inherit;
    height: inherit;
}

.stripes > .left, .stripes > .right{
    position: absolute;
    width: 2vw;
    height: 100vh;
    background-color: white;
}

.stripes > .left{
    left: calc(50vw - 1vw - 3vw);
}

.stripes > .right{
    left: calc(50vw - 1vw + 3vw);
}