 * {
    box-sizing: border-box;
}
body {
	max-width: 60em;
	 margin: 0 auto;
	 font-family: sans-serif;
}

footer p {
  text-align: center;
}

.row{
	display: flex;
	flex-flow: row-reverse;
	align-items: stretch;

}
.row div{
	width: 100%;
}

.col{
	display: flex;
	flex-flow: column-reverse;
}
div p{
	text-align:center;
	vertical-align: middle;	
	display: table-cell;
}

.gulur {
	background-color: yellow; 
}
.raudur {
	background-color: red; 
}
.graenn {
	background-color: lime;
}
.blar {
	background-color: cyan;
}
.box {
	font-size: 1.2em;
	text-align: center;
	height: 5em;
	width:999em; 
	position: relative;
}

