.main{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 40px auto 40px;
    width:90%;
    height: 100%;
    margin: 0 auto;
    border-left: 1px solid black;
    border-bottom: 1px solid black;

}

.main > div {
    display: flex;
}

.main main p,.main aside p{
    font-size: .75em;
}

.page1 .main{
    grid-template-areas: 
        "tt tt tt tt tt"
        "tt tt tt tt tt"
        "lk lk lk lk lk"
        "mn ac ac ac as"
        "mn ac ac ac as"
        "ft ft ft ft ft"
    ;
}
.page2 .main{
    grid-template-areas: 
        "lk lk lk lk lk"
        "tt tt tt tt tt"
        "tt tt tt tt tt"
        "ac ac ac mn as"
        "ac ac ac mn as"
        "ft ft ft ft ft"
    ;
}
.page3 .main{
    grid-template-areas: 
        "tt tt tt tt lk"
        "tt tt tt tt lk"
        "mn as ac ac ac"
        "mn as ac ac ac"
        "ft ft ft ft ft"
    ;
}

.main > * {
    border-top: 1px solid black;
    border-right: 1px solid black;

}

.main > * > b.head{
    margin: 1em 0;
    display: block;
    text-align: center;
}

.main main{
    grid-area: mn;
}.main aside{
    grid-area: as;
}.main article{
    grid-area: ac;
}.main footer{
    grid-area: ft;
}.main nav{
    grid-area: lk;
    grid-template-columns: auto auto auto;
}

.main > * > p{
    text-align: justify;
}

.main header a{
    text-align: center;
    width: 100%;
    display: block;
    margin: 1em;
}

.main header{
    grid-area: tt;
    background-color: khaki;
    height: 10em;
}

.main nav, .main footer{
    background-color: lightcoral;
    display: grid;
}

.main footer{
    grid-template-columns: auto auto auto;
}
p{
    line-height: 1.5em;
}
.main nav a, .main footer a{
    grid-column: auto;
    text-align: center;
    height: 100%;
    padding-top: .5rem;
    vertical-align: middle;
    position: relative;
}

.main footer a{
    padding-bottom: 1em;
}

.page3 .main nav{
    grid-template-columns: auto;
}

.page3 .main nav a{
    text-align: left;
    padding-left: 2em;
}

.main header .title{
    text-align: center;
    font-size: 4em;
    margin: 0.5em 0 0 0;
    font-style: italic;
    font-weight: normal;
    font-family: "Palatino Linotype";
}
.inner-box{
    border:1px solid black;
    margin:0 2em;
    padding: .5em;
}
.main main,.main aside,.main article{
    border: 0 0 5px 0 solid black;
    padding: 1em;
}