*, *::before, *::after{
    box-sizing: border-box;
}
body{
    background-color: rgb(131, 93, 93);
    color: white;
    display: grid;

    grid-template-areas: "a a a rg""ft ft ft rg" "ft ft ft rg" "ft ft ft rg" "ft ft ft rg";
}

a{
    color:white !important;
}

.center{
    text-align: center;
}

.logo{
    width:15em;
    height: auto;
    background-color: cornsilk;
    padding: 1em;
    position: fixed;
    bottom:1em;
    right:1em;
    border: 2px solid black;
}

.recipe-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,2fr));
    margin-left: 1.5em;    
    grid-area: rg;

}

.food-table{
    border-spacing: 0;
    grid-area: ft;
    width: 100%;
    tbody{
        tr:nth-of-type(even) > td {background-color: rgb(80,66,66);}
        tr:nth-of-type(odd) > td {background-color: rgb(96,80,80);}
    }
    tfoot,thead{
        td{background-color: rgb(207, 194, 169);color:black}
    }
}
td{padding: 2em;text-align: center;}

.recipe-window{
    color: black;
    background-color: white;
    padding: 1em;
    width: 95%;
    height: 95%;
    display: grid;
    grid-template-rows: 50% 5% 45%;
}

.recipe-window > p > img {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
}

.about{
    text-align: justify;
    margin: 3% 2%;
    background-color: cornsilk;

    grid-area: a;

    p{
        color: black;
        padding: 1em 2em;
    }
}

.recipe-window > blockquote{
    overflow-y: scroll;
    height: 90%;
    text-align: justify;
    hyphens: auto;
}

.recipe-window > h1{
    display: block;
    width: 100%;
    text-align: center;
}

@media(max-aspect-ratio:1/1){
    body{
        display: block;
    }
}