body{
    background-color: rgb(131, 93, 93);
    color: white;
}

a{
    color:white !important;
}

.center{
    text-align: center;
}

.recipe-window{
    color: black;
    background-color: white;
    padding: 1em;
    width: 40vmin;
    height: 60vmin;
    
}

.recipe-window > p > img {
    width: 100%;
    height: 75%;
}