<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../templates/style.css">
</head>
<body>
	{% for el in content %}
		{% if el.def=="gallery" %}
			<ul> 
				{% for i in el.ct %}
					<div> <a href="{{ i.href }}">{{i.desc}}</a></div>
				{% endfor %} 
			</ul>
		{% else %}
			<div class="{{el.def}}" style="{{el.style}}">{{el.ct}}</div>
		{% endif %}
	{% endfor %}  
</body>
</html>