<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../templates/styles.min.css">
</head>
<body>
	<img src="../logo.svg" alt="svg" class="logo">
		<div class="about">
			<p>Lorem ipsum dolor sit amet consectetur 
		adipisicing elit. Quisquam fugit reprehenderit 
		totam laudantium ducimus dolorum necessitatibus 
		ut perspiciatis numquam ipsam, provident esse 
		sunt distinctio illo aliquam doloremque tenetur 
		praesentium placeat.
		Lorem ipsum dolor sit amet consectetur 
		adipisicing elit. Quisquam fugit reprehenderit 
		totam laudantium ducimus dolorum necessitatibus 
		ut perspiciatis numquam ipsam, provident esse 
		sunt distinctio illo aliquam doloremque tenetur 
		praesentium placeat.
		Lorem ipsum dolor sit amet consectetur 
		adipisicing elit. Quisquam fugit reprehenderit 
		totam laudantium ducimus dolorum necessitatibus 
		ut perspiciatis numquam ipsam, provident esse 
		sunt distinctio illo aliquam doloremque tenetur 
		praesentium placeat.
		Lorem ipsum dolor sit amet consectetur 
		adipisicing elit. Quisquam fugit reprehenderit 
		totam laudantium ducimus dolorum necessitatibus 
		ut perspiciatis numquam ipsam, provident esse 
		sunt distinctio illo aliquam doloremque tenetur 
		praesentium placeat.</p>
		
	</div>
		
	{% for el in content %}
			<div class="{{el.def}}">{{el.ct}}</div>
	{% endfor %}  
	<div class = "recipe-grid">
	{% for rp in rec %}
			{{rp}}
	{% endfor %}
	</div>

	<table class="food-table">
		<thead>
				<tr>
						<td>Bla</td>
						<td>Bla</td>
						<td>Bla</td>                    
				</tr>
		</thead>
		<tbody>
				<tr>
						<td>food</td>
						<td>more food</td>
						<td>even more food</td>
				</tr>
				<tr>
						<td>bucket of food</td>
						<td>food trough</td>
						<td>food truck</td>
				</tr>
		</tbody>
		<tfoot>
				<td>Bla</td>
				<td>Bla</td>
				<td>Bla</td>
		</tfoot>
		
</table>
	
</body>
</html>