@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
body{
    margin:0;
}
.logo{
    width:auto;
    height:100%;
    padding:.25%;
    filter: drop-shadow(.25vmin .25vmin 0px rgb(153, 153, 153)) drop-shadow(.25vmin .25vmin 0px #0009);
}

html{
    background-image: linear-gradient(rgb(187, 182, 173),rgb(213, 222, 226));
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.hb:checked ~ .menu-options{
    display: block;
    position: fixed;
    bottom: 0;
    left:0;
}
.menu-options{
    display: none;
}
.menu{
    width: 0px;
    height: 0px;
    display: inline-block;
}

.hb{
    position: fixed;
    bottom: 0;
    left:0;
}

*{
    box-sizing: border-box;
}

.navbar{
    width:100vw;
    height:10vmin;
    background-color: #3338;
    padding: 1vmin;
    padding-right: 0;
}

.soc-media{
    position: fixed;
    bottom:0;
    right:0;
    display: block;
}

.content{
    width: 90vw;
    background-color: beige;
    margin: auto;
}

.soc-media > .temp {
    width: 6vmin;
    height: 6vmin;
    background-color: white;
    border-radius: 100%;
    float: left;
    margin:1vmin;
    margin-left: 0;
}

.food-table td{
    border: 1px solid black;
    padding:2em;
    text-align: center;
}

.food-table{
    grid-area: m;
}

.inquiry{
    grid-area: i;
}

.inquiry > .name,
.inquiry > .email,
.inquiry > #date,
.inquiry > #phone
{
    width:100%;
}

.content{
    display: grid;
    grid-template-areas: "m m m i";
}



@media (min-aspect-ratio:1/1){
    .hb{
        display:none;
    }

    .menu {
        display: inline-block;
        float: right;
        padding-top:.75vmin;
        width:auto;
        height:auto;

    }
    .menu > ul{
        display: inline-block;
        list-style-type: none;
        height:100%;
        margin:0;
        padding:0;
        position: absolute;
        right: 0;
    }

    .menu > ul > a:first-child > li{
        border-radius: 1em 0 0 1em;
    }
    .menu > ul > a:last-child > li{
        padding: 0;
    }

    .menu > ul > a > li {
        display: inline-block;
        float: left;
        border-right: dimgray;
        text-align: center;
        background-color: rgb(170, 166, 155);
        color: white;
        font-size: 2vmin;
        width:6em;
    }


    .menu > ul > a > li > .desc {
        display: inline-block;
        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;
        text-shadow: .15vmin .15vmin 0 #000;
        width:100%;
    }



}